<div class="eqLogic eqLogic-widget allowResize" data-eqType="#eqType#" data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="#version#" data-translate-category="#translate_category#" data-category="#category#" data-tags="#tags#" style="width: #width#;height: #height#;#style#">
  <center class="widget-name">
    <span class="warning" title="#alert_name#">
      <i class='#alert_icon#'></i>
    </span>
    <span class="cmd refresh pull-right cursor" data-cmd_id="#refresh_id#">
      <i class="fas fa-sync"></i>
    </span>
    <a href="#eqLink#">#name_display#<span class="object_name">#object_name#</span></a>
  </center>
  <div id="meteoMCPeriods#uid#" class="meteoMC">
    <div class="meteoPrevPeriods" data-equipement="#uid#">
      <table>
        <!-- DATE -->
        <tr>
          <td class="tableCmdcss meteoMCTitre">
            <div class="meteoMCTitreDivJour">#JOUR#</div>
            <div class="meteoMCTitreDivPeriod">#PERIOD#</div>
          </td>
          <td class="tableCmdcss meteoMCTitre">
            <div class="meteoMCTitreDivJour">#JOUR_1#</div>
            <div class="meteoMCTitreDivPeriod">#PERIOD_1#</div>
          </td>
          <td class="tableCmdcss meteoMCTitre">
            <div class="meteoMCTitreDivJour">#JOUR_2#</div>
            <div class="meteoMCTitreDivPeriod">#PERIOD_2#</div>
          </td>
          <td class="tableCmdcss meteoMCTitre">
            <div class="meteoMCTitreDivJour">#JOUR_3#</div>
            <div class="meteoMCTitreDivPeriod">#PERIOD_3#</div>
          </td>
          <td class="tableCmdcss meteoMCTitre">
            <div class="meteoMCTitreDivJour">#JOUR_4#</div>
            <div class="meteoMCTitreDivPeriod">#PERIOD_4#</div>
          </td>
          <td class="tableCmdcss meteoMCTitre">
            <div class="meteoMCTitreDivJour">#JOUR_5#</div>
            <div class="meteoMCTitreDivPeriod">#PERIOD_5#</div>
          </td>
          <td class="tableCmdcss meteoMCTitre">
            <div class="meteoMCTitreDivJour">#JOUR_6#</div>
            <div class="meteoMCTitreDivPeriod">#PERIOD_6#</div>
          </td>
          <td class="tableCmdcss meteoMCTitre">
            <div class="meteoMCTitreDivJour">#JOUR_7#</div>
            <div class="meteoMCTitreDivPeriod">#PERIOD_7#</div>
          </td>
        </tr>
        <!-- Prévision Image -->
        <tr>
          <td class="tableCmdcss meteoMCImgPrev">
            <img src="#imgdir#/#weatherimg#" title="#weathertxt#" alt="#weathertxt#" />
          </td>
          <td class="tableCmdcss meteoMCImgPrev">
            <img src="#imgdir#/#weatherimg_1#" title="#weathertxt_1#" alt="#weathertxt_1#" />
          </td>
          <td class="tableCmdcss meteoMCImgPrev">
            <img src="#imgdir#/#weatherimg_2#" title="#weathertxt_2#" alt="#weathertxt_2#" />
          </td>
          <td class="tableCmdcss meteoMCImgPrev">
            <img src="#imgdir#/#weatherimg_3#" title="#weathertxt_3#" alt="#weathertxt_3#" />
          </td>
          <td class="tableCmdcss meteoMCImgPrev">
            <img src="#imgdir#/#weatherimg_4#" title="#weathertxt_4#" alt="#weathertxt_4#" />
          </td>
          <td class="tableCmdcss meteoMCImgPrev">
            <img src="#imgdir#/#weatherimg_5#" title="#weathertxt_5#" alt="#weathertxt_5#" />
          </td>
          <td class="tableCmdcss meteoMCImgPrev">
            <img src="#imgdir#/#weatherimg_6#" title="#weathertxt_6#" alt="#weathertxt_6#" />
          </td>
          <td class="tableCmdcss meteoMCImgPrev">
            <img src="#imgdir#/#weatherimg_7#" title="#weathertxt_7#" alt="#weathertxt_7#" />
          </td>
        </tr>
        <!-- Prévision Texte -->
        <tr>
          <td class="tableCmdcss meteoMCCondition">#weathertxt#</td>
          <td class="tableCmdcss meteoMCCondition">#weathertxt_1#</td>
          <td class="tableCmdcss meteoMCCondition">#weathertxt_2#</td>
          <td class="tableCmdcss meteoMCCondition">#weathertxt_3#</td>
          <td class="tableCmdcss meteoMCCondition">#weathertxt_4#</td>
          <td class="tableCmdcss meteoMCCondition">#weathertxt_5#</td>
          <td class="tableCmdcss meteoMCCondition">#weathertxt_6#</td>
          <td class="tableCmdcss meteoMCCondition">#weathertxt_7#</td>
        </tr>
        <!-- Température -->
        <tr>
          <td class="tableCmdcss meteoMCData">
            <div class="meteoMCDataf" title="#lgdtemp#"><i class="fas fa-thermometer-half"></i> #tact#<span class="meteoMCUnite"> °C</span></div>
          </td>
          <td class="tableCmdcss meteoMCData">
           <div class="meteoMCDataf" title="#lgdtemp#"><i class="fas fa-thermometer-half"></i> #tact_1#<span class="meteoMCUnite"> °C</span></div>
          </td>
          <td class="tableCmdcss meteoMCData">
            <div class="meteoMCDataf" title="#lgdtemp#"><i class="fas fa-thermometer-half"></i> #tact_2#<span class="meteoMCUnite"> °C</span></div>
          </td>
          <td class="tableCmdcss meteoMCData">
            <div class="meteoMCDataf" title="#lgdtemp#"><i class="fas fa-thermometer-half"></i> #tact_3#<span class="meteoMCUnite"> °C</span></div>
          </td>
          <td class="tableCmdcss meteoMCData">
            <div class="meteoMCDataf" title="#lgdtemp#"><i class="fas fa-thermometer-half"></i> #tact_4#<span class="meteoMCUnite"> °C</span></div>
          </td>
          <td class="tableCmdcss meteoMCData">
            <div class="meteoMCDataf" title="#lgdtemp#"><i class="fas fa-thermometer-half"></i> #tact_5#<span class="meteoMCUnite"> °C</span></div>
          </td>
          <td class="tableCmdcss meteoMCData">
            <div class="meteoMCDataf" title="#lgdtemp#"><i class="fas fa-thermometer-half"></i> #tact_6#<span class="meteoMCUnite"> °C</span></div>
          </td>
          <td class="tableCmdcss meteoMCData">
            <div class="meteoMCDataf" title="#lgdtemp#"><i class="fas fa-thermometer-half"></i> #tact_7#<span class="meteoMCUnite"> °C</span></div>
          </td>
        </tr>
        <!-- Vent moyen & direction -->
        <tr>
          <td class="tableCmdcss meteoMCData">
            <div class="meteoMCDataf">
              <i class="icon jeedomapp-wind" title="#lgdwind#"></i> #wind#<span class="meteoMCUnite"> km/h</span>
              <img src="#imgdir#/vent.png" style="transform:rotate(#dirw#deg)" title="#dirw#°" alt="#dirw#°">
            </div>
          </td>
          <td class="tableCmdcss meteoMCData">
            <div class="meteoMCDataf">
              <i class="icon jeedomapp-wind" title="#lgdwind#"></i> #wind_1#<span class="meteoMCUnite"> km/h</span>
              <img src="#imgdir#/vent.png" style="transform:rotate(#dirw_1#deg)" title="#dirw_1#°" alt="#dirw_1#°">
            </div>
          </td>
          <td class="tableCmdcss meteoMCData">
            <div class="meteoMCDataf">
              <i class="icon jeedomapp-wind" title="#lgdwind#"></i> #wind_2#<span class="meteoMCUnite"> km/h</span>
              <img src="#imgdir#/vent.png" style="transform:rotate(#dirw_2#deg)" title="#dirw_2#°" alt="#dirw_2#°">
            </div>
          </td>
          <td class="tableCmdcss meteoMCData">
            <div class="meteoMCDataf">
              <i class="icon jeedomapp-wind" title="#lgdwind#"></i> #wind_3#<span class="meteoMCUnite"> km/h</span>
              <img src="#imgdir#/vent.png" style="transform:rotate(#dirw_3#deg)" title="#dirw_3#°" alt="#dirw_3#°">
            </div>
          </td>
          <td class="tableCmdcss meteoMCData">
            <div class="meteoMCDataf">
              <i class="icon jeedomapp-wind" title="#lgdwind#"></i> #wind_4#<span class="meteoMCUnite"> km/h</span>
              <img src="#imgdir#/vent.png" style="transform:rotate(#dirw_4#deg)" title="#dirw_4#°" alt="#dirw_4#°">
            </div>
          </td>
          <td class="tableCmdcss meteoMCData">
            <div class="meteoMCDataf">
              <i class="icon jeedomapp-wind" title="#lgdwind#"></i> #wind_5#<span class="meteoMCUnite"> km/h</span>
              <img src="#imgdir#/vent.png" style="transform:rotate(#dirw_5#deg)" title="#dirw_5#°" alt="#dirw_5#°">
            </div>
          </td>
          <td class="tableCmdcss meteoMCData">
            <div class="meteoMCDataf">
              <i class="icon jeedomapp-wind" title="#lgdwind#"></i> #wind_6#<span class="meteoMCUnite"> km/h</span>
              <img src="#imgdir#/vent.png" style="transform:rotate(#dirw_6#deg)" title="#dirw_6#°" alt="#dirw_6#°">
            </div>
          </td>
          <td class="tableCmdcss meteoMCData">
            <div class="meteoMCDataf">
              <i class="icon jeedomapp-wind" title="#lgdwind#"></i> #wind_7#<span class="meteoMCUnite"> km/h</span>
              <img src="#imgdir#/vent.png" style="transform:rotate(#dirw_7#deg)" title="#dirw_7#°" alt="#dirw_7#°">
            </div>
          </td>
        </tr>
        <!-- Rafales de vent -->
        <tr>
          <td class="tableCmdcss meteoMCData">
            <div class="meteoMCDataf" title="#lgdgust#"><i class="fas fa-wind"></i> #gust#<span class="meteoMCUnite"> km/h</span></div>
          </td>
          <td class="tableCmdcss meteoMCData">
           <div class="meteoMCDataf" title="#lgdgust#"><i class="fas fa-wind"></i> #gust_1#<span class="meteoMCUnite"> km/h</span></div>
          </td>
          <td class="tableCmdcss meteoMCData">
            <div class="meteoMCDataf" title="#lgdgust#"><i class="fas fa-wind"></i> #gust_2#<span class="meteoMCUnite"> km/h</span></div>
          </td>
          <td class="tableCmdcss meteoMCData">
            <div class="meteoMCDataf" title="#lgdgust#"><i class="fas fa-wind"></i> #gust_3#<span class="meteoMCUnite"> km/h</span></div>
          </td>
          <td class="tableCmdcss meteoMCData">
            <div class="meteoMCDataf" title="#lgdgust#"><i class="fas fa-wind"></i> #gust_4#<span class="meteoMCUnite"> km/h</span></div>
          </td>
          <td class="tableCmdcss meteoMCData">
            <div class="meteoMCDataf" title="#lgdgust#"><i class="fas fa-wind"></i> #gust_5#<span class="meteoMCUnite"> km/h</span></div>
          </td>
          <td class="tableCmdcss meteoMCData">
            <div class="meteoMCDataf" title="#lgdgust#"><i class="fas fa-wind"></i> #gust_6#<span class="meteoMCUnite"> km/h</span></div>
          </td>
          <td class="tableCmdcss meteoMCData">
            <div class="meteoMCDataf" title="#lgdgust#"><i class="fas fa-wind"></i> #gust_7#<span class="meteoMCUnite"> km/h</span></div>
          </td>
        </tr>
        <!-- Pluie & probabilité -->
        <tr>
          <td class="tableCmdcss meteoMCData">
            <div class="meteoMCDataf">
              <i class="fas fa-cloud-rain" title="#lgdpluiemin#"></i> #pluiemin#<span class="meteoMCUnite"> mm</span>
              <i class="far fa-clock" title="#lgdpluiepro#"></i> #pluiepro#<span class="meteoMCUnite"> %</span>
            </div>
          </td>
          <td class="tableCmdcss meteoMCData">
            <div class="meteoMCDataf">
              <i class="fas fa-cloud-rain" title="#lgdpluiemin#"></i> #pluiemin_1#<span class="meteoMCUnite"> mm</span>
              <i class="far fa-clock" title="#lgdpluiepro#"></i> #pluiepro_1#<span class="meteoMCUnite"> %</span>
            </div>
          </td>
          <td class="tableCmdcss meteoMCData">
            <div class="meteoMCDataf">
              <i class="fas fa-cloud-rain" title="#lgdpluiemin#"></i> #pluiemin_2#<span class="meteoMCUnite"> mm</span>
              <i class="far fa-clock" title="#lgdpluiepro#"></i> #pluiepro_2#<span class="meteoMCUnite"> %</span>
            </div>
          </td>
          <td class="tableCmdcss meteoMCData">
            <div class="meteoMCDataf">
              <i class="fas fa-cloud-rain" title="#lgdpluiemin#"></i> #pluiemin_3#<span class="meteoMCUnite"> mm</span>
              <i class="far fa-clock" title="#lgdpluiepro#"></i> #pluiepro_3#<span class="meteoMCUnite"> %</span>
            </div>
          </td>
          <td class="tableCmdcss meteoMCData">
            <div class="meteoMCDataf">
              <i class="fas fa-cloud-rain" title="#lgdpluiemin#"></i> #pluiemin_4#<span class="meteoMCUnite"> mm</span>
              <i class="far fa-clock" title="#lgdpluiepro#"></i> #pluiepro_4#<span class="meteoMCUnite"> %</span>
            </div>
          </td>
          <td class="tableCmdcss meteoMCData">
            <div class="meteoMCDataf">
              <i class="fas fa-cloud-rain" title="#lgdpluiemin#"></i> #pluiemin_5#<span class="meteoMCUnite"> mm</span>
              <i class="far fa-clock" title="#lgdpluiepro#"></i> #pluiepro_5#<span class="meteoMCUnite"> %</span>
            </div>
          </td>
          <td class="tableCmdcss meteoMCData">
            <div class="meteoMCDataf">
              <i class="fas fa-cloud-rain" title="#lgdpluiemin#"></i> #pluiemin_6#<span class="meteoMCUnite"> mm</span>
              <i class="far fa-clock" title="#lgdpluiepro#"></i> #pluiepro_6#<span class="meteoMCUnite"> %</span>
            </div>
          </td>
          <td class="tableCmdcss meteoMCData">
            <div class="meteoMCDataf">
              <i class="fas fa-cloud-rain" title="#lgdpluiemin#"></i> #pluiemin_7#<span class="meteoMCUnite"> mm</span>
              <i class="far fa-clock" title="#lgdpluiepro#"></i> #pluiepro_7#<span class="meteoMCUnite"> %</span>
            </div>
          </td>
        </tr>
        <!-- Pluie max -->
        <tr>
          <td class="tableCmdcss meteoMCData">
            <div class="meteoMCDataf" title="#lgdpluiemax#">
              <i class="fas fa-cloud-rain icon_red"></i> #pluiemax#<span class="meteoMCUnite"> mm</span>
            </div>
          </td>
          <td class="tableCmdcss meteoMCData">
            <div class="meteoMCDataf" title="#lgdpluiemax#">
              <i class="fas fa-cloud-rain icon_red"></i> #pluiemax_1#<span class="meteoMCUnite"> mm</span>
            </div>
          </td>
          <td class="tableCmdcss meteoMCData">
            <div class="meteoMCDataf" title="#lgdpluiemax#">
              <i class="fas fa-cloud-rain icon_red"></i> #pluiemax_2#<span class="meteoMCUnite"> mm</span>
            </div>
          </td>
          <td class="tableCmdcss meteoMCData">
            <div class="meteoMCDataf" title="#lgdpluiemax#">
              <i class="fas fa-cloud-rain icon_red"></i> #pluiemax_3#<span class="meteoMCUnite"> mm</span>
            </div>
          </td>
          <td class="tableCmdcss meteoMCData">
            <div class="meteoMCDataf" title="#lgdpluiemax#">
              <i class="fas fa-cloud-rain icon_red"></i> #pluiemax_4#<span class="meteoMCUnite"> mm</span>
            </div>
          </td>
          <td class="tableCmdcss meteoMCData">
            <div class="meteoMCDataf" title="#lgdpluiemax#">
              <i class="fas fa-cloud-rain icon_red"></i> #pluiemax_5#<span class="meteoMCUnite"> mm</span>
            </div>
          </td>
          <td class="tableCmdcss meteoMCData">
            <div class="meteoMCDataf" title="#lgdpluiemax#">
              <i class="fas fa-cloud-rain icon_red"></i> #pluiemax_6#<span class="meteoMCUnite"> mm</span>
            </div>
          </td>
          <td class="tableCmdcss meteoMCData">
            <div class="meteoMCDataf" title="#lgdpluiemax#">
              <i class="fas fa-cloud-rain icon_red"></i> #pluiemax_7#<span class="meteoMCUnite"> mm</span>
            </div>
          </td>
        </tr>
        <!-- Probalité vent 70 et 100 -->
        <tr>
          <td class="tableCmdcss meteoMCData">
            <div class="meteoMCDatag"><i class="fas fa-wind icon_orange"></i> #probven70#<span class="meteoMCUnite"> %</span></div>
            <div class="meteoMCDatad"><i class="fas fa-wind icon_red"></i> #probven100#<span class="meteoMCUnite"> %</span></div>
          </td>
          <td class="tableCmdcss meteoMCData">
            <div class="meteoMCDatag"><i class="fas fa-wind icon_orange"></i> #probven70_1#<span class="meteoMCUnite"> %</span></div>
            <div class="meteoMCDatad"><i class="fas fa-wind icon_red"></i> #probven100_1#<span class="meteoMCUnite"> %</span></div>
          </td>
          <td class="tableCmdcss meteoMCData">
            <div class="meteoMCDatag"><i class="fas fa-wind icon_orange"></i> #probven70_2#<span class="meteoMCUnite"> %</span></div>
            <div class="meteoMCDatad"><i class="fas fa-wind icon_red"></i> #probven100_2#<span class="meteoMCUnite"> %</span></div>
          </td>
          <td class="tableCmdcss meteoMCData">
            <div class="meteoMCDatag"><i class="fas fa-wind icon_orange"></i> #probven70_3#<span class="meteoMCUnite"> %</span></div>
            <div class="meteoMCDatad"><i class="fas fa-wind icon_red"></i> #probven100_3#<span class="meteoMCUnite"> %</span></div>
          </td>
          <td class="tableCmdcss meteoMCData">
            <div class="meteoMCDatag"><i class="fas fa-wind icon_orange"></i> #probven70_4#<span class="meteoMCUnite"> %</span></div>
            <div class="meteoMCDatad"><i class="fas fa-wind icon_red"></i> #probven100_4#<span class="meteoMCUnite"> %</span></div>
          </td>
          <td class="tableCmdcss meteoMCData">
            <div class="meteoMCDatag"><i class="fas fa-wind icon_orange"></i> #probven70_5#<span class="meteoMCUnite"> %</span></div>
            <div class="meteoMCDatad"><i class="fas fa-wind icon_red"></i> #probven100_5#<span class="meteoMCUnite"> %</span></div>
          </td>
          <td class="tableCmdcss meteoMCData">
            <div class="meteoMCDatag"><i class="fas fa-wind icon_orange"></i> #probven70_6#<span class="meteoMCUnite"> %</span></div>
            <div class="meteoMCDatad"><i class="fas fa-wind icon_red"></i> #probven100_6#<span class="meteoMCUnite"> %</span></div>
          </td>
          <td class="tableCmdcss meteoMCData">
            <div class="meteoMCDatag"><i class="fas fa-wind icon_orange"></i> #probven70_7#<span class="meteoMCUnite"> %</span></div>
            <div class="meteoMCDatad"><i class="fas fa-wind icon_red"></i> #probven100_7#<span class="meteoMCUnite"> %</span></div>
          </td>
        </tr>
        <!-- Probalité GEL -->
        <tr>
          <td class="tableCmdcss meteoMCData">
            <div class="meteoMCDataf" title="#lgdprobfrost#"><i class="far fa-snowflake"></i> #probfrost#<span class="meteoMCUnite"> %</span></div>
          </td>
          <td class="tableCmdcss meteoMCData">
            <div class="meteoMCDataf" title="#lgdprobfrost#"><i class="far fa-snowflake"></i> #probfrost_1#<span class="meteoMCUnite"> %</span></div>
          </td>
          <td class="tableCmdcss meteoMCData">
            <div class="meteoMCDataf" title="#lgdprobfrost#"><i class="far fa-snowflake"></i> #probfrost_2#<span class="meteoMCUnite"> %</span></div>
          </td>
          <td class="tableCmdcss meteoMCData">
            <div class="meteoMCDataf" title="#lgdprobfrost#"><i class="far fa-snowflake"></i> #probfrost_3#<span class="meteoMCUnite"> %</span></div>
          </td>
          <td class="tableCmdcss meteoMCData">
            <div class="meteoMCDataf" title="#lgdprobfrost#"><i class="far fa-snowflake"></i> #probfrost_4#<span class="meteoMCUnite"> %</span></div>
          </td>
          <td class="tableCmdcss meteoMCData">
            <div class="meteoMCDataf" title="#lgdprobfrost#"><i class="far fa-snowflake"></i> #probfrost_5#<span class="meteoMCUnite"> %</span></div>
          </td>
          <td class="tableCmdcss meteoMCData">
            <div class="meteoMCDataf" title="#lgdprobfrost#"><i class="far fa-snowflake"></i> #probfrost_6#<span class="meteoMCUnite"> %</span></div>
          </td>
          <td class="tableCmdcss meteoMCData">
            <div class="meteoMCDataf" title="#lgdprobfrost#"><i class="far fa-snowflake"></i> #probfrost_7#<span class="meteoMCUnite"> %</span></div>
          </td>
        </tr>
        <!-- Probalité Brouillard -->
        <tr>
          <td class="tableCmdcss meteoMCData">
            <div class="meteoMCDataf" title="#lgdprobfog#"><i class="fas fa-water"></i> #probfog#<span class="meteoMCUnite"> %</span></div>
          </td>
          <td class="tableCmdcss meteoMCData">
            <div class="meteoMCDataf" title="#lgdprobfog#"><i class="fas fa-water"></i> #probfog_1#<span class="meteoMCUnite"> %</span></div>
          </td>
          <td class="tableCmdcss meteoMCData">
            <div class="meteoMCDataf" title="#lgdprobfog#"><i class="fas fa-water"></i> #probfog_2#<span class="meteoMCUnite"> %</span></div>
          </td>
          <td class="tableCmdcss meteoMCData">
            <div class="meteoMCDataf" title="#lgdprobfog#"><i class="fas fa-water"></i> #probfog_3#<span class="meteoMCUnite"> %</span></div>
          </td>
          <td class="tableCmdcss meteoMCData">
            <div class="meteoMCDataf" title="#lgdprobfog#"><i class="fas fa-water"></i> #probfog_4#<span class="meteoMCUnite"> %</span></div>
          </td>
          <td class="tableCmdcss meteoMCData">
            <div class="meteoMCDataf" title="#lgdprobfog#"><i class="fas fa-water"></i> #probfog_5#<span class="meteoMCUnite"> %</span></div>
          </td>
          <td class="tableCmdcss meteoMCData">
            <div class="meteoMCDataf" title="#lgdprobfog#"><i class="fas fa-water"></i> #probfog_6#<span class="meteoMCUnite"> %</span></div>
          </td>
          <td class="tableCmdcss meteoMCData">
            <div class="meteoMCDataf" title="#lgdprobfog#"><i class="fas fa-water"></i> #probfog_7#<span class="meteoMCUnite"> %</span></div>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <script>
    if ('#refresh_id#' != '') {
      $('.eqLogic[data-eqLogic_uid=#uid#] .refresh').on('click', function () {
        jeedom.cmd.execute({id: '#refresh_id#'})
      })
    } else {
      $('.eqLogic[data-eqLogic_uid=#uid#] .refresh').remove()
    }
  </script>
  <style>
    /* CSS GLOBAL */
    .meteoMC {
      padding: 0px 5px;
    }
    .meteoMC .meteoMCUnite {
	    font-size: 0.7em;
  	}
    .meteoMC td {
      padding: 2px 2px;
      text-align: center;
      box-sizing: border-box;
      font-size: 0.85em;
      text-align: center;
      width: 118px !important;
    }
    .meteoMC .meteoMCTitre {
      border-bottom: 1px dashed !important;
      border-left: 1px solid transparent !important;
      border-right: 1px solid transparent !important;
	  }
    .meteoMC .meteoMCTitreDivJour {
	    margin-bottom: 2px;
      width: 118px !important;
	  }
    .meteoMC .meteoMCTitreDivPeriod {
	    margin-bottom: 2px;
      width: 118px !important;
	  }
    .meteoMC .meteoMCImgPrev {
      height: 60px;
      font-size: 0.7em;
    }
    .meteoMC .meteoMCImgPrev img {
      max-width: 60px;
      max-height: 60px;
    }
    .meteoMC .meteoMCCondition {
	    font-style: italic;
	    font-size: 0.75em !important;
    }
    .meteoMC .meteoMCData div {
      padding: 2px 2px;
    }
	  .meteoMC .meteoMCData div.meteoMCDatag {
      margin-left: 0px;
      width: 56px !important;
      float: left;
    }
	  .meteoMC .meteoMCData div.meteoMCDatad {
      margin-left: 2px;
      width: 56px !important;
      float: left;
    }
    .meteoMC .meteoMCData div.meteoMCDataf {
      width: 118px !important;
    }
    .meteoMC .meteoMCDataf img {
      width: 20px;
      vertical-align: middle;
    }
  </style>
</div>